footer {
  padding: 48px 0;
  background-color: #ffaea0;
  color: #fff; 
}
footer a {
  color: #fff;
}
footer>div {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
footer>div>p {
  margin-bottom: 24px;
  font: 600 32px/1 'Cinzel', serif;
}




/* customer support */
footer>div>dl {
  width: 320px; height: 100%;
  padding: 24px;
  position: absolute;
  top: 0; right: 0;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}
footer>div>dl a {
  color: #000;
}


/* title */
footer>div>dl>dt {
  margin-bottom: 16px;
  position: relative;
  font: 600 20px/1 'Pretendard-SemiBold', sans-serif;
  text-indent: 24px;
}
footer>div>dl>dt>i {
  position: absolute;
  top: 0; left: -24px;
}
footer>div>dl>dt>span {
  margin-left: 8px;
  font-size: 14px; color: #999;
}


/* dd common */
footer>div>dl>dd {
  margin-bottom: 8px;
}
footer>div>dl>dd {
  font-size: 14px;
}


/* text */
footer>div>dl>dd:first-of-type {
  margin-bottom: 16px;
  font: 900 24px/1 'Pretendard-ExtraBold', sans-serif;
}
footer>div>dl>dd>dfn {
  margin-right: 8px;
  font: 600 14px/1 'Pretendard-SemiBold', sans-serif;
}
footer>div>dl>dd:nth-last-of-type(2) {
  margin: 0;
  font-size: 14px; color: #999;
}
footer>div>dl>dd:last-of-type {
  margin: 0;
  position: absolute;
  bottom: 24px; right: 24px;
  border: 1px #ffaea0 solid;
}
footer>div>dl>dd:last-of-type a {
  padding: 4px 36px 4px 16px;
  display: block;
  color: #ffaea0;
}
footer>div>dl>dd:last-of-type i {
  position: absolute;
  top: 4px; right: 16px;
}
footer>div>dl>dd:last-of-type:hover {
  background-color: #ffaea0;
}
footer>div>dl>dd:last-of-type:hover>a {
  color: #fff;
}




/* info */
footer>div>div>address {
  margin-bottom: 32px;
  font-size: 14px;
}
footer>div>div>address>p {
  margin-bottom: 16px;
  font: 600 16px/1 'Pretendard-SemiBold', sans-serif;
}
footer>div>div>address>p>span {
  margin-left: 8px;
}
footer address>span {
  width: 16px; height: 2px;
  margin-bottom: 16px;
  display: block;
  background-color: #fff;
}
footer address>div {
  margin-bottom: 8px;
  display: flex;
}
footer address>div:last-child {
  margin: 0;
}
footer address>div>dl {
  margin-right: 16px;
  display: flex;
}
footer address>div>dl:last-child {
  margin: 0;
}
footer address>div>dl>dt {
  margin-right: 8px;
  font: 600 14px/1 'Pretendard-SemiBold', sans-serif; 
}
footer small {
  font-size: 14px;
  color: #fff; 
}