header {
  position: relative;
  display: flex;
  flex-direction: column;
}
h1 {
  width: 1280px;
  margin: 0 auto;
  padding: 32px 0;
  text-align: center;
}
h1>a {
  font: 600 48px/1 'Cinzel', serif; color: #ff6347; 
}




/* div.headerTop */
div.headerTop {
  width: 1280px; height: 48px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between; align-items: center;
  order: -1;
}
div.headerTop>ul {
  display: flex;
  align-items: center;
}


/* sns */
div.headerTop>ul:nth-child(1)>li {
  width: 24px; height: 24px;
  margin-right: 8px; padding-top: 2px;
  display: flex;
  justify-content: center; align-items: center;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #ffaea0;
  font-size: 16px;
}
div.headerTop>ul:nth-child(1)>li:last-child {
  margin-right: 0;
  font-size: 12px;
}
div.headerTop>ul:nth-child(1)>li a {
  color: #fff;
}


/* search */
div.headerTop>form {
  width: 400px; height: 24px;
  position: absolute;
  top: calc(50% - 12px); left: calc(50% - 200px);
}
div.headerTop>form>label {
  position: absolute;
  top: 4px; right: 8px;
}
div.headerTop>form>label>a {
  color: #ff6347;
}
div.headerTop>form>input {
  width: 100%; height: 100%;
  padding: 0px 32px 0 16px;
  box-sizing: border-box;
  border: 2px #ff6347 solid;
  border-radius: 12px;
  outline-style: none;
}


/* aside menu */
div.headerTop>ul:nth-child(3)>li {
  margin-left: 16px;
}
div.headerTop>ul:nth-child(3) a {
  font-size: 14px; color: #999;
}
div.headerTop>ul:nth-child(3)>li:hover>a {
  color: #ff6347;
}
div.headerTop>ul:nth-child(3)>li:first-child {
  margin-left: 0;
}
div.headerTop>ul:nth-child(3)>li:nth-child(2)>span {
  width: 2px; height: 14px;
  display: block;
  background-color: #999;
}


/* wishlist */
div.headerTop>ul:nth-child(3)>li:nth-child(5) {
  padding-right: 20px;
  position: relative
}
div.headerTop>ul:nth-child(3)>li:nth-child(5) span {
  width: 16px; height: 16px;
  position: absolute;
  top: 0; right: 0;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #ffaea0;
  font-size: 12px; color: #fff;
  line-height: 16px; text-align: center;
}




/* nav */
nav {
  border-top: 1px #ff6347 solid;
  border-bottom: 8px #ff6347 solid;
}
nav>ul {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center; align-items: center;
}
nav>ul>li {
  margin-right: 80px; padding: 8px 0;
  position: relative;
}
nav>ul>li:last-child {
  margin-right: 0;
}
nav>ul>li:hover>a {
  color: #ff6347;
}


/* submenu */
nav li>ul {
  width: 240px;
  padding: 24px;
  display: none;
  position: absolute;
  top: 32px; left: -24px;
  box-sizing: border-box;
  border: 1px #ff6347 solid;
  background-color: #fff;
  z-index: 500;
}
nav li:hover>ul {
  display: block;
}
nav li li {
  margin-top: 16px;
}
nav li li:first-child {
  margin: 0 0 32px;
  font: 600 16px/1 'Pretendard-SemiBold', sans-serif; color: #ff6347;
}
nav li li:first-child>span {
  margin-left: 8px;
  font-size: 12px; color: #ffaea0;
}
nav li li:hover>a {
  color: #ff6347;
}