/* mainTitle */
h3.mainTitle {
  margin-bottom: 48px;
  font: 200 32px/1 'Pretendard-ExtraLight', sans-serif; color: #ffaea0;
  text-align: center;
}
h3.mainTitle>b {
  font: 900 32px/1 'Pretendard-Black', sans-serif; color: #ff6347;
}
h3.mainTitle>span {
  font: 200 20px/1 'Pretendard-ExtraLight', sans-serif; color: #000;
}




/* section#visual */
section#visual {
  height: 800px;
  position: relative;
}
section#visual>ul {
  width: 1920px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}


/* div.btn */
section#visual>div.btn {
  width: 100vw; max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
section#visual>div.btn>p {
  position: absolute;
  top: calc(-400px - 24px);
  font-size: 48px;
  color: #ffaea0;
  cursor: pointer;
}
section#visual>div.btn>p:first-child {
  left: 48px;
}
section#visual>div.btn>p:last-child {
  right: 48px;
}


/* div.slideCount */
section#visual>div.slideCount {
  width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 32px; left: calc(50% - 960px);
}
section#visual>div.slideCount>span {
  width: 12px; height: 12px;
  margin-right: 16px;
  display: block;
  border-radius: 50%;
  background-color: #ff6347;
  opacity: 0.5;
  cursor: pointer;
}
section#visual>div.slideCount>span:last-child {
  margin: 0;
}
section#visual>div.slideCount>span:hover {
  opacity: 1;
}
section#visual>div.slideCount>span.slideNow {
  opacity: 1;
  box-shadow: 0px 0px 0px 2px #fff;
}




/* section#category */
section#category {
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
}
section#category>ul {
  width: 1280px;
  margin: 0 auto; padding: 32px 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
section#category figure {
  text-align: center;
}
section#category figure>img {
  width: 80px; height: 80px;
  margin-bottom: 8px;
  border-radius: 50%;
}
section#category figure>figcaption {
  color: #999;
}
section#category figure:hover>img {
  box-shadow: 0px 0px 0px 4px #ffaea0;
}
section#category figure:hover>figcaption {
  color: #ff6347;
}




/* section#bestNew */
section#bestNew {
  width: 1280px;
  margin: 0 auto; padding: 128px 0;
}


/* div.changeBtn */
section#bestNew>div.changeBtn {
  margin-bottom: 32px;
  display: flex;
  justify-content: center; align-items: center;
  text-align: center;
}
section#bestNew>div.changeBtn>button {
  padding: 4px 16px;
  border: none;
  background-color: transparent;
  font: 600 24px/1 'Pretendard-SemiBold', sans-serif;
  cursor: pointer;
}
section#bestNew>div.changeBtn>button:hover {
  color: #ff6347;
}
section#bestNew>div.changeBtn>button.bestNewFocus {
  background-color: #ff6347;
  color: #fff;
}
section#bestNew>div.changeBtn>span {
  width: 2px; height: 16px;
  margin: 0 16px 0 16px;
  display: inline-block;
  background-color: #ffaea0;
}


/* div.bestNew_ItemList */
div.bestNew_ItemList {
  display: flex;
  flex-wrap: wrap;
}
div.bestNew_ItemList>a:nth-of-type(4n)>figure {
  margin-right: 0;
}
div.bestNew_ItemList>a:nth-last-of-type(-n+4)>figure {
  margin-bottom: 0;
}


/* div.btn */
section#bestNew>div.btn {
  position: relative;
}
section#bestNew>div.btn>p {
  position: absolute;
  top: -474px;
  font-size: 48px;
  color: #ddd;
  cursor: pointer;
}
section#bestNew>div.btn>p:first-child {
  left: -96px;
}
section#bestNew>div.btn>p:last-child {
  right: -96px;
}


/* div.slideCount */
section#bestNew>div.slideCount {
  margin: 48px auto 0;
  display: flex;
  justify-content: center;
}
section#bestNew>div.slideCount>span {
  width: 12px; height: 12px;
  margin-right: 16px;
  display: block;
  border-radius: 50%;
  background-color: #ddd;
  opacity: 0.5;
  cursor: pointer;
}
section#bestNew>div.slideCount>span:last-child {
  margin: 0;
}
section#bestNew>div.slideCount>span:hover {
  background-color: #ff6347;
  opacity: 1;
}
section#bestNew>div.slideCount>span.slideNow {
  background-color: #ff6347;
  box-shadow: 0px 0px 0px 2px #fff;
  opacity: 1;
}



/* section#eventBanner */
section#eventBanner {
  background-color: aqua;
}