/* mainTitle */
h3.mainTitle {
  margin-bottom: 48px;
  font: 200 32px/1 'Pretendard-ExtraLight', sans-serif; color: #ffaea0;
  text-align: center;
}
h3.mainTitle>b {
  font: 900 32px/1 'Pretendard-Black', sans-serif; color: #ff6347;
}
h3.mainTitle>span {
  font: 200 20px/1 'Pretendard-ExtraLight', sans-serif; color: #000;
}




/* section#visual */
section#visual {
  height: 800px;
  position: relative;
}
section#visual>ul {
  width: 1920px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}


/* div.btn */
section#visual>div.btn {
  width: 100vw; max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
section#visual>div.btn>p {
  position: absolute;
  top: calc(-400px - 24px);
  font-size: 48px;
  color: #ffaea0;
  cursor: pointer;
}
section#visual>div.btn>p:hover {
  color: #ff6347;
}
section#visual>div.btn>p:first-child {
  left: 48px;
}
section#visual>div.btn>p:last-child {
  right: 48px;
}


/* div.slideCount */
section#visual>div.slideCount {
  width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 32px; left: calc(50% - 960px);
}
section#visual>div.slideCount>span {
  width: 12px; height: 12px;
  margin-right: 16px;
  display: block;
  border-radius: 50%;
  background-color: #ff6347;
  opacity: 0.5;
  cursor: pointer;
}
section#visual>div.slideCount>span:last-child {
  margin: 0;
}
section#visual>div.slideCount>span:hover {
  opacity: 1;
}
section#visual>div.slideCount>span.slideNow {
  opacity: 1;
  box-shadow: 0px 0px 0px 2px #fff;
}




/* section#category */
section#category {
  border-top: 1px #eee solid;
  border-bottom: 1px #eee solid;
}
section#category>ul {
  width: 1280px;
  margin: 0 auto; padding: 32px 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
section#category figure {
  text-align: center;
}
section#category figure>img {
  width: 80px; height: 80px;
  margin-bottom: 8px;
  border-radius: 50%;
}
section#category figure>figcaption {
  color: #999;
}
section#category figure:hover>img {
  box-shadow: 0px 0px 0px 4px #ffaea0;
}
section#category figure:hover>figcaption {
  color: #ff6347;
}




/* section#bestNew */
section#bestNew {
  width: 1280px;
  margin: 0 auto; padding: 128px 0;
}


/* div.changeBtn */
section#bestNew>div.changeBtn {
  margin-bottom: 32px;
  display: flex;
  justify-content: center; align-items: center;
  text-align: center;
}
section#bestNew>div.changeBtn>button {
  padding: 4px 16px;
  border: none;
  background-color: transparent;
  font: 600 24px/1 'Pretendard-SemiBold', sans-serif;
  cursor: pointer;
}
section#bestNew>div.changeBtn>button:hover {
  color: #ff6347;
}
section#bestNew>div.changeBtn>button.bestNewFocus {
  background-color: #ff6347;
  color: #fff;
}
section#bestNew>div.changeBtn>span {
  width: 2px; height: 16px;
  margin: 0 16px 0 16px;
  display: inline-block;
  background-color: #ffaea0;
}


/* div.bestNew_ItemList */
div.bestNew_ItemList {
  width: 1280px;
  overflow: hidden;
}
div.bestNew_ItemList>div {
  width: calc(3 * (1280px + 32px));
  display: flex;
  flex-wrap: wrap;
}
div.bestNew_ItemList>div>ul {
  width: 1280px;
  margin-right: 32px;
  display: flex;
  flex-wrap: wrap;
}
div.bestNew_ItemList li:nth-of-type(4n) figure {
  margin-right: 0;
}
div.bestNew_ItemList li:nth-last-of-type(-n+4) figure {
  margin-bottom: 0;
}


/* div.btn */
section#bestNew>div.btn {
  position: relative;
}
section#bestNew>div.btn>p {
  position: absolute;
  top: -474px;
  font-size: 48px;
  color: #eee;
  cursor: pointer;
}
section#bestNew>div.btn>p:hover {
  color: #ff6347;
}
section#bestNew>div.btn>p:first-child {
  left: -96px;
}
section#bestNew>div.btn>p:last-child {
  right: -96px;
}


/* div.slideCount */
section#bestNew>div.slideCount {
  margin: 48px auto 0;
  display: flex;
  justify-content: center;
}
section#bestNew>div.slideCount>span {
  width: 12px; height: 12px;
  margin-right: 16px;
  display: block;
  border-radius: 50%;
  background-color: #eee;
  opacity: 0.5;
  cursor: pointer;
}
section#bestNew>div.slideCount>span:last-child {
  margin: 0;
}
section#bestNew>div.slideCount>span:hover {
  background-color: #ff6347;
  opacity: 1;
}
section#bestNew>div.slideCount>span.slideNow {
  background-color: #ff6347;
  box-shadow: 0px 0px 0px 2px #fff;
  opacity: 1;
}




/* section#eventBanner */
section#eventBanner {
  margin-top: 80px;
  background-color: #eee;
}
section#eventBanner>div {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}


/* img */
section#eventBanner>div>img:nth-of-type(1) {
  width: 320px; height: 240px;
}
section#eventBanner>div>img:nth-of-type(2) {
  width: 320px; height: 320px;
  position: absolute;
  top: -80px; right: 0;
}


/* text */
div.eventText {
  width: 512px;
  margin-left: 64px;
  order: 1;
}
div.eventText>h3 {
  margin-bottom: 16px;
  font: 900 24px/1 'Pretendard-Black', sans-serif;
}
div.eventText>p:nth-of-type(1) {
  margin-bottom: 32px;
  color: #999;
  line-height: 1.5;
}
div.eventText>p:nth-of-type(2) a {
  padding: 4px 32px 4px 16px;
  display: block;
  float: right;
  position: relative;
  background-color: #ffaea0;
  color: #fff;
}
div.eventText>p:nth-of-type(2) a:hover {
  background-color: #ff6347;
}
div.eventText>p:nth-of-type(2) i {
  position: absolute;
  top: 6px; right: 14px;
  font-size: 12px;
}




/* section#themeProduct */
section#recommendCategory {
  border-bottom: 1px #eee solid;
}
section#recommendCategory>div {
  width: 1280px; height: 704px;
  margin: 0 auto; padding: 128px 0;
  display: flex;
  flex-direction: row-reverse; justify-content: space-between;
}
section#recommendCategory>div>div {
  width: 768px;
}


/* title */
section#recommendCategory h3 {
  margin-bottom: 32px;
  text-align: left;
}


/* common */
section#recommendCategory figure {
  position: relative;
}
section#recommendCategory figure:hover>span {
  display: block;
}
section#recommendCategory img {
  width: 100%; height: 100%;
}
section#recommendCategory figcaption {
  position: absolute;
}
section#recommendCategory figure>span {
  width: 100%; height: 100%;
  display: none;
  position: absolute;
  top: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
section#recommendCategory figcaption dt {
  width: fit-content;
  margin-bottom: 16px; padding: 4px 16px;
  background-color: rgba(255, 99, 71, 0.75);
  font: 600 24px/1 'Pretendard-SemiBold', sans-serif; color: #fff;
}
section#recommendCategory figcaption dd {
  text-indent: 16px;
}


/* 01 */
section#recommendCategory>div>a>figure {
  width: 480px; height: 704px;
  position: relative;
}
section#recommendCategory>div>a figcaption {
  width: calc(100% - 128px);
  top: 64px; left: 64px;
}


/* 02 */
section#recommendCategory>div>div a:nth-of-type(1)>figure {
  width: 256px; height: 320px;
  margin: 0 32px 32px 0;
  display: inline-block;
}
section#recommendCategory>div>div a:nth-of-type(1) figcaption {
  width: calc(100% - 64px);
  bottom: 32px; left: 32px;
}


/* 03 */
section#recommendCategory>div>div a:nth-of-type(2)>figure {
  width: 480px; height: 320px;
  margin-bottom: 32px;
  display: inline-block;
}
section#recommendCategory>div>div a:nth-of-type(2) figcaption {
  width: 240px;
  top: 32px; right: 32px;
  text-align: right;
}
section#recommendCategory>div>div a:nth-of-type(2) figcaption dt {
  float: right;
}
section#recommendCategory>div>div a:nth-of-type(2) figcaption dd {
  margin-right: 16px;
  clear: both;
  text-indent: 0px;
}


/* 04 */
section#recommendCategory>div>div a:nth-of-type(3)>figure {
  width: 768px; height: 256px;
}
section#recommendCategory>div>div a:nth-of-type(3) figcaption {
  width: 320px;
  bottom: 32px; right: 64px;
}




/* section#bestReview */
section#bestReview {
  width: 1280px;
  margin: 0 auto; padding: 128px 0;
}
section#bestReview>div {
  display: flex;
  flex-wrap: wrap; justify-content: space-between;
}
section#bestReview figure:nth-child(n+4) {
  margin-bottom: 0;
}