section.productView {
  width: 1280px;
  margin: 128px auto;
}




/* main product */
figure.productDetail {
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
}


/* img */
figure.productDetail>div {
 width: 560px;
}
figure.productDetail>div>span>img {
  width: 560px; height: 560px;
  margin-bottom: 8px;
}
figure.productDetail>div>ul {
  width: 496px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}
figure.productDetail>div>ul>li {
  width: 80px; height: 80px;
  margin-right: 8px;
  cursor: pointer;
}
figure.productDetail>div>ul>li:last-child {
  margin: 0;
}
figure.productDetail>div>ul>li>img {
  width: 80px; height: 80px;
}


/* div.btn */
figure.productDetail>div div.btn {
  position: relative;
}
figure.productDetail>div div.btn>p {
  position: absolute;
  top: -56px;
  font-size: 32px;
  color: #eee;
  cursor: pointer;
}
figure.productDetail>div div.btn>p:hover {
  color: #ff6347;
}
figure.productDetail>div div.btn>p:first-child {
  left: -6px;
}
figure.productDetail>div div.btn>p:last-child {
  right: -6px;
}


/* figcaption */
figure.productDetail>figcaption {
  width: 640px;
  position: relative;
}
figure.productDetail>figcaption>p {
  margin-bottom: 16px;
}
figure.productDetail>figcaption>p>a {
  font-size: 14px; color: #999;
}
figure.productDetail>figcaption>p>span>a {
  margin-left: 32px; padding-left: 32px;
  border-left: 4px #eee solid;
  font-size: 14px; color: #999;
}
figure.productDetail>figcaption>h4 {
  margin-bottom: 16px;
  font: 900 32px/1 'Pretendard-Black', sans-serif;
}
figure.productDetail>figcaption>span {
  margin-bottom: 48px;
  display: block;
  color: #ffaea0;
}


/* rating, price */
figure.productDetail>figcaption>ul {
  margin-bottom: 64px;
}
figure.productDetail>figcaption>ul>li:nth-child(1) {
  margin-bottom: 16px;
  font-size: 20px; color: #999;
}
figure.productDetail>figcaption>ul>li:nth-child(1)>span {
  margin-right: 4px; padding-left: 20px;
  position: relative;
  color: #000;
}
figure.productDetail>figcaption>ul>li:nth-child(1)>span>i {
  position: absolute;
  top: 0; left: 0px;
  color: #ff6347;
}
figure.productDetail>figcaption>ul>li:nth-child(2)>ins {
  font: 600 24px/1 'Pretendard-SemiBold', sans-serif;
  text-decoration: none;
}
figure.productDetail>figcaption>ul>li:nth-child(2)>del {
  margin: 0 8px;
  font-size: 20px; color: #999;
}
figure.productDetail>figcaption>ul>li:nth-child(2)>span {
  font: 600 24px/1 'Pretendard-SemiBold', sans-serif; color: #ff6347;
}


/* div.productOption */
div.productOption>dl {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}
div.productOption>dl:last-child {
  margin: 0;
}
div.productOption>dl>dt {
  width: 120px;
  font: 600 16px/1 'Pretendard-SemiBold', sans-serif; color: #ff6347;
}
div.productOption>dl>dd {
  width: 520px; height: 24px;
  padding: 0 8px;
  position: relative;
  box-sizing: border-box;
  border: 1px #eee solid;
  line-height: 24px;
  cursor: pointer;
}
div.productOption>dl>dd>p {
  display: flex;
  justify-content: space-between; align-items: center;
  position: relative;
}
div.productOption>dl>dd>p>i {
  color: #ffaea0;
  position: absolute;
  top: 2px; right: 0;
}


/* option list */
div.productOption>dl>dd>ul {
  width: 520px;
  display: none;
  position: absolute;
  top: 23px; left: -1px;
  box-sizing: border-box;
  border: 1px #000 solid;
  background-color: #fff;
  z-index: 100;
}
div.productOption>dl>dd>ul>li {
  padding: 12px 8px;
  font-size: 14px; color: #999;
  cursor: pointer;
}
div.productOption>dl>dd>ul>li:hover {
  color: #000;
  background-color: #eee;
}


/* option count */
div.productOption>dl.productCount>dd {
  width: 96px;
  padding: 0;
  display: flex;
  justify-content: center; align-items: center;
  border: none;
}
div.productOption>dl.productCount>dd>input {
  width: 48px; height: 24px;
  margin: 0;
  box-sizing: border-box;
  border: 1px #eee solid;
  outline: none;
  font: 400 16px/1 'Pretendard-Regular', sans-serif;
  text-align: center;
}
div.productOption>dl.productCount>dd>input::placeholder {
  color: #000;
}
div.productOption>dl.productCount>dd>button {
  width: 24px; height: 24px;
  display: flex;
  justify-content: center; align-items: center;
  box-sizing: border-box;
  border: none;
  background-color: #eee;
  cursor: pointer;
}
div.productOption>dl.productCount>dd>button:hover {
  background-color: #000;
}
div.productOption>dl.productCount>dd>button:hover i {
  color: #eee;
}
div.productOption>dl.productCount>dd>button i {
  margin-top: 2px;
  font-size: 14px;
}


/* div.buy */
div.buy {
  margin-top: 48px; padding-top: 48px;
  border-top: 1px #eee solid;
}
div.buy>dl {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between; align-items: baseline;
}
div.buy>dl>dt {
  font-size: 24px;
}
div.buy>dl>dd {
  font: 900 24px/1 'Pretendard-Black', sans-serif; color: #ff6347;
}
div.buyIcon {
  display: flex; justify-content: space-between; align-items: center;
}
div.buyIcon>p.liked {
  width: 48px; height: 48px;
  display: flex;
  justify-content: center; align-items: center;
  position: absolute;
  top: 0; right: 0;
  box-sizing: border-box;
  border: 1px #eee solid;
  font-size: 32px; color: #eee;
  cursor: pointer;
}
div.buyIcon>p.likedOpposite {
  display: none;
  color: #ff6347;
}
div.buyIcon>button {
  width: 320px; height: 64px;
  box-sizing: border-box;
  border: 1px #ff6347 solid;
  background-color: #fff;
  font: 600 24px/1 'Pretendard-SemiBold', sans-serif; color: #ff6347;
  cursor: pointer;
}
div.buyIcon>button:nth-of-type(2) {
  background-color: #ff6347;
  color: #fff;
}
div.buyIcon>button:hover {
  border-color: #000;
  background-color: #000;
  color: #fff;
}




/* div.reviewList */
div.reviewList {
}
div.reviewList>h4 {
  margin-bottom: 64px;
  font: 200 32px/1 'Pretendard-ExtraLight', sans-serif; color: #ff6347;
  text-align: center;
}
div.reviewList>figure:last-child {
  margin: 0;
}


/* figure.productReview */
figure.productReview {
  width: 100%;
  margin-bottom: 48px; padding: 48px;
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  border: 1px #eee solid;
  border-radius: 32px;
  background-color: #fff;
}
figure.productReview>img {
  width: 240px; height: 240px;
  margin-left: 32px;
  border-radius: 24px;
}
figure.productReview dl {
  width: 100%;
  position: relative;
}


/* title */
figure.productReview dt {
  margin-bottom: 48px;
  font: 600 24px/1 'Pretendard-SemiBold', sans-serif; color: #ff6347;
}


/* rating */
figure.productReview dd:nth-of-type(1) {
  position: absolute;
  top: 0px; right: 0px;
  font-size: 24px; color: #ff6347;
}
figure.productReview dd:nth-of-type(1)>p {
  width: 120px;
  display: flex;
  position: absolute;
  top: -1px; left: -132px;
}
figure.productReview dd:nth-of-type(1)>p:nth-of-type(1) {
  color: #eee;
}
figure.productReview dd:nth-of-type(1)>p:nth-of-type(2) {
  width: 120px;
  overflow: hidden;
}


/* text */
figure.productReview dd:nth-of-type(2) {
  margin-bottom: 32px;
  line-height: 1.4; line-break: anywhere; text-align: justify;
}


/* info */
figure.productReview dd:nth-of-type(3) {
  margin-right: 16px; padding-right: 16px;
  display: inline-block;
  border-right: 1px #999 solid;
  color: #999;
}
figure.productReview dd:nth-of-type(4) {
  display: inline-block;
  color: #999;
}