figure.productItem {
  width: 296px;
  margin: 0 32px 48px 0; padding: 312px 16px 16px;
  position: relative;
  box-sizing: border-box;
  border: 1px #eee solid;
  background-color: #fff;
}
figure.productItem img {
  width: 296px; height: 296px;
  position: absolute;
  top: -1px; left: -1px;
}


/* title */
figure.productItem dt {
  margin-bottom: 12px;
  overflow: hidden;
  font: 600 20px/1 'Pretendard-SemiBold', sans-serif;
  text-overflow: ellipsis; white-space: nowrap;
}


/* price */
figure.productItem dd:first-of-type {
  margin-bottom: 32px;
}
figure.productItem ins {
  text-decoration: none;
}
figure.productItem del {
  margin: 0 8px;
  font-size: 14px; color: #999;
}
figure.productItem dd:first-of-type>span {
  font: 600 16px/1 'Pretendard-SemiBold', sans-serif; color: #ff6347;
}


/* rating */
figure.productItem dd:nth-of-type(2) {
  color: #999;
  text-align: right;
}
figure.productItem dd:nth-of-type(2)>span {
  margin-right: 4px;
  position: relative;
  color: #000;
}
figure.productItem dd:nth-of-type(2)>span>i {
  position: absolute;
  top: 0; left: -16px;
  color: #ff6347;
}


/* option */
figure.productItem:hover dd:nth-of-type(3) {
  display: block;
}
figure.productItem dd:nth-of-type(3) {
  display: none;
  position: absolute;
  top: calc(295px - 82px); left: -1px;
  font-size: 14px;
}
figure.productItem dd:nth-of-type(3)>ul {
  padding: 8px;
}
figure.productItem dd:nth-of-type(3) li {
  width: auto; min-width: 14px; height: 14px;
  padding: 4px 8px;
  position: relative;
  color: #fff;
  text-indent: 16px;
}
figure.productItem dd:nth-of-type(3) li:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
figure.productItem dd:nth-of-type(3) li:hover>span {
  display: block;
}
figure.productItem dd:nth-of-type(3) li.likedOpposite {
  display: none;
}
figure.productItem dd:nth-of-type(3) i {
  position: absolute;
  top: 4px; left: -8px;
}
figure.productItem dd:nth-of-type(3) li:nth-of-type(3) i {
  color: #ff6347;
}
figure.productItem dd:nth-of-type(3) span {
  display: none;
}